<div class="navbar navbar-default" role="navigation">
<div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <h3>
             Super TV
            </h3>
        </a>

        <ul class="nav navbar-nav">
            <li><a href="/"><h3>Home</h3></a></li>
            <li><a href="/films"><h3>Films</h3></a></li>
            <li><a href="/series"><h3>Series</h3></a></li>
        </ul>
    </div>

</div>
</nav>
