<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html lang="pt">
	<head>

		<meta charset="UTF-8">
		<title> Super TV </title>
		<link rel="stylesheet" href="/css/bootstrap.min.css"/>
		<style>
			.prepend-top {
				margin-top: 15px;
			}
			body{ margin-top: 15px;}	
		</style>
	</head>
	<body class="container">
