<% include ../partials/head %>
<% include ../partials/header %>

<main>
    <div class="jumbotron">
        <div class="text-center">
            <h1>Super TV</h1>
            <p>Uma tv offline para assistir onde estiver</p>
        </div>
    </div>
</main>

<% include ../partials/footer %>

